@charset "UTF-8";
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Application du fade in au menu*/
#menu-content.toggled {
  display: flex;
  animation: fadeIn 2s ease forwards;
}

.story {
  animation: fadeIn 2s ease forwards;
}

.main-character {
  animation: fadeIn 2s ease forwards;
}

#place {
  animation: fadeIn 2s ease forwards;
}

#studio {
  animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes translate1 {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}
h2.anim, h3.anim {
  animation: 2s fadeIn2 ease forwards;
  animation-fill-mode: both;
  animation-delay: 0.3s;
  overflow: hidden;
}

h2.anim span:first-child,
h3.anim span:first-child {
  animation: 1s translate1 ease forwards;
  animation-fill-mode: both;
  animation-delay: 0.45s;
  display: inline-block;
}

h2.anim span:last-child,
h3.anim span:last-child {
  animation: 1s translate1 ease forwards;
  animation-fill-mode: both;
  animation-delay: 0.6s;
  display: inline-block;
}

@keyframes animationnuages {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(300px);
  }
}
.nuages {
  animation: animationnuages 4s 1 linear forwards;
}

.banner {
  position: relative;
  background-image: url("../assets/images/banner.png");
  min-height: 806px;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
}

.logo-header {
  position: absolute;
  top: 20%;
  left: 30%;
  width: auto;
  height: auto;
}

#hero-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#hero-header video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#background-video {
  display: none;
}

@media (max-width: 700px) {
  #background-video {
    display: none;
  }
}
@media (min-width: 700px) {
  #background-video {
    display: block;
  }
}
/* Styles pour la classe .loading-video */
.loading-video {
  width: 100%;
  height: 806px;
}

#oscars {
  display: flex;
  position: relative;
  margin-top: 5%;
  background-color: #FFF5E9;
}
#oscars::before {
  content: url("../assets/images/fleurblanche.png");
  position: absolute;
  left: 10em;
  top: -4em;
}
#oscars::after {
  content: url("../assets/images/orchid.png");
  position: absolute;
  right: -4em;
  top: -9em;
}
#oscars h3 {
  width: 80%;
  margin-top: 1em;
  margin-bottom: 2em;
  margin-right: 0;
  margin-left: 4em;
  padding: 1em 2em;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  color: #FFF5E9;
  font-family: Quicksand;
  font-size: 3em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-image: url("../assets/images/orange_titreoscar_bg.png");
  background-size: 93%;
  background-position: center;
}
#oscars .oscar {
  width: 20%;
  height: 50%;
  background-color: transparent;
  align-items: flex-start;
  margin-left: 0;
  margin-top: 5em;
  padding-left: 0;
  margin-right: 15em;
  align-items: center;
}

.story #place {
  display: flex;
  background-image: url("../assets/images/place_bg.png");
}
.story #place .nuages {
  position: absolute;
  top: 5%;
  left: 30%;
}

/*h3 {
    background-attachment: fixed; 
    transform: translateY(-110%);
    transition: transform 1s ease-in-out; 
}

    &:hover {
        transform: translateY(0);
}
*/
.swiper {
  width: 100%;
}
.swiper .slide {
  background: #FFF5E9;
}

.site-header {
  position: sticky;
  top: 0;
  z-index: 9999;
}

.main-navigation {
  position: sticky;
  width: 100%;
  height: 80px;
  background: #FFD5A2;
  z-index: 1000 !important;
  display: block;
}
.main-navigation .site-title {
  font-size: 21.5px;
  text-align: center;
  padding-bottom: 5em;
  position: fixed;
  /* Positionne absolument le titre */
  z-index: 11;
  left: 50%;
  /* Démarre le titre à 50% du parent */
  transform: translateX(-50%);
  /* Décale le titre de -50% de sa propre largeur */
}
@media screen and (min-width: 700px) {
  .main-navigation .menu-toggle {
    display: block !important;
  }
}
.main-navigation .menu-toggle {
  cursor: pointer;
  /* Indique que le bouton est cliquable */
  margin-right: 8%;
  z-index: 11;
  /* Lignes du bouton hamburger */
  /* CSS pour le bouton lorsqu'il est cliqué : X */
}
.main-navigation .menu-toggle .line {
  width: 40px;
  height: 1px;
  background-color: #000;
  margin: 6px auto;
}
.main-navigation .menu-toggle.menu-opened {
  z-index: 11;
}
.main-navigation .menu-toggle.menu-opened:before, .main-navigation .menu-toggle.menu-opened:after {
  position: absolute;
  content: "";
  height: 1px;
  /* Hauteur des barres de la croix */
  width: 40px;
  /* Largeur des barres de la croix */
  top: 50%;
  margin-top: -1px;
  /* Centre les barres verticalement */
  background-color: #000;
  /* Couleur des barres de la croix */
}
.main-navigation .menu-toggle.menu-opened:before {
  transform: rotate(45deg);
  /* Incline la barre du haut pour former une croix */
}
.main-navigation .menu-toggle.menu-opened:after {
  transform: rotate(-45deg);
  /* Incline la barre du bas pour former une croix */
}

/* CSS pour afficher la liste lorsque le menu est ouvert */
#menu-content {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #FFF5E9;
  overflow: auto;
}
#menu-content.toggled {
  display: flex;
}

.menu-liens {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 35%;
  gap: 4em;
  z-index: 11;
}
.menu-liens a:not(.studio-koukaki-fin):not(:has(> img)) {
  font-family: "Roboto Mono", sans-serif;
  font-size: 5em;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
}
.menu-liens a:not(.studio-koukaki-fin):not(:has(> img)):hover {
  text-shadow: 0px 0px 8px red;
  /* Halo rouge au survol */
}
.menu-liens .studio-koukaki-fin {
  font-family: "Roboto Mono", sans-serif;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 10em;
}
.menu-liens .studio-koukaki-fin:hover {
  color: rgb(0, 221, 255);
  font-weight: 900;
}

.menu-elements {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.menu-elements .fleurs .fleur-violette {
  position: absolute;
  top: 25%;
  left: -5%;
  overflow: hidden;
}
.menu-elements .fleurs .fleurs-oranges {
  position: absolute;
  top: 85%;
  left: 10%;
}
.menu-elements .fleurs .fleur-rose {
  position: absolute;
  width: 5%;
  top: 80%;
  right: -5%;
  overflow: hidden;
}
.menu-elements .fleurs .hibiscus {
  position: absolute;
  width: 50%;
  top: 120%;
  left: 80%;
  overflow: hidden;
}
.menu-elements .fleurs .fleur-blanche {
  position: absolute;
  top: 30%;
  right: 15%;
}
.menu-elements .chats .chat-noir {
  position: absolute;
  top: 95%;
  right: 15%;
}
.menu-elements .chats .chat-violet {
  position: absolute;
  top: 40%;
  left: 18%;
}
.menu-elements .chats .chat-roux {
  position: absolute;
  top: 130%;
  left: 3%;
}

.main-navigation .menu-opened .line {
  visibility: hidden;
}

#site-navigation .main-navigation {
  height: 80px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Application de la rotation aux fleurs du menu*/
.fleur-violette {
  animation: rotation 30s linear infinite;
}

.fleurs-oranges {
  animation: rotation 30s linear infinite;
}

.fleur-rose {
  animation: rotation 30s linear infinite;
}

.hibiscus {
  animation: rotation 30s linear infinite;
}

.fleur-blanche {
  animation: rotation 30s linear infinite;
}

/* Application de la rotation aux fleurs de la page */
#studio h2::after {
  animation: rotation 30s linear infinite;
  transform-origin: center;
}

#studio h2::before {
  animation: rotation 30s linear infinite;
  transform-origin: center;
}

.story h2::after {
  animation: rotation 30s linear infinite;
  transform-origin: center;
}

.story__article::after {
  animation: rotation 30s linear infinite;
  transform-origin: center;
}

#oscars::before {
  animation: rotation 30s linear infinite;
  transform-origin: center;
}

#oscars::after {
  animation: rotation 30s linear infinite;
  transform-origin: center;
}

@keyframes rotation2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Application de la rotation aux fleurs de la page */
#studio.rotation2 h2::after {
  animation: rotation2 5s linear 0s 1;
  transform-origin: center;
  animation-delay: 1s;
}

#studio.rotation2 h2::before {
  animation: rotation2 5s linear 0s 1;
  transform-origin: center;
  animation-delay: 1s;
}

#story.rotation2 .story h2::after {
  animation: rotation2 5s linear 0s 1;
  transform-origin: center;
  animation-delay: 1s;
}

#story.rotation2 .story__article::after {
  animation: rotation2 5s linear 0s 1;
  transform-origin: center;
  animation-delay: 1s;
}

#oscars.rotation2::before {
  animation: rotation2 5s linear 0s 1;
  transform-origin: center;
  animation-delay: 1s;
}

#oscars.rotation2::after {
  animation: rotation2 5s linear 0s 1;
  transform-origin: center;
  animation-delay: 1s;
}

.site-footer {
  position: relative;
  display: flex;
  padding-top: 18em;
  padding-bottom: 1em;
  overflow: hidden;
}
.site-footer::before {
  display: none;
  content: url("./assets/images/Sunflower.png");
  position: absolute;
  left: 4em;
  top: 0em;
}
.site-footer::after {
  display: none;
  content: url("./assets/images/orchid.png");
  position: absolute;
  right: -4em;
  bottom: 7.8em;
}
.site-footer ul {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  list-style-type: none;
}
.site-footer ul li {
  flex: 1;
  text-align: center;
}
.site-footer ul li a {
  text-decoration: none;
}
.site-footer ul::after {
  content: url("../assets/images/hibiscus_footer.png");
  position: absolute;
  left: calc(50% - 323px);
  bottom: -28.5em;
  z-index: -1;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* Application de l'animation aux titres */
.logo-header {
  animation: floating 6s ease-in-out 0s infinite;
}

.chat-noir {
  animation: floating 6s ease-in-out 0s infinite;
}

.chat-violet {
  animation: floating 6s ease-in-out 0s infinite;
}

.chat-roux {
  animation: floating 6s ease-in-out 0s infinite;
}/*# sourceMappingURL=style.css.map */