
@keyframes floating {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px) ;
    }
}
/* Application du flottement */
.logo-header {
    animation: floating 6s ease-in-out 0s infinite; 
}
.chat-noir {
    animation: floating 6s ease-in-out 0s infinite; 
}
.chat-violet {
    animation: floating 6s ease-in-out 0s infinite; 
}
.chat-roux {
    animation: floating 6s ease-in-out 0s infinite; 
}