  
  .banner {
    position: relative;
    background-image: url("../assets/images/banner.png");
    min-height: 806px;
    background-size: cover; 
    background-repeat: no-repeat; 
    z-index: -2; // pour que l'image reste en arrière-plan
  }
  
    // Le logo doit être positionné absolument pour le superposer sur la vidéo
    .logo-header {
      position: absolute;
      top: 20%;
      left: 30%;
      width: auto; 
      height: auto; 
    }
  
  // Styles pour le conteneur vidéo pour s'assurer qu'il remplit la bannière
  #hero-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; // pour que la vidéo reste en arrière-plan
  
    video {
      width: 100%;
      height: 100%;
      object-fit: cover; // Cela va couvrir tout l'espace disponible sans étirer la vidéo
    }
  }
  
// Masque la vidéo pour les mobiles par défaut
#background-video {
  display: none;
}

// Masquer la vidéo pour les mobiles par défaut
@media (max-width: 700px) {
#background-video {
    display: none;
}
}

// Affiche la vidéo pour les tablettes et les ordinateurs
@media (min-width: 700px) {
  #background-video {
      display: block;
  }
}

/* Styles pour la classe .loading-video */
.loading-video {
  width: 100%;
  height: 806px;
}

// Maj scss oscars
#oscars {
  display: flex;
  margin-top: 5%;
  background-color:#FFF5E9; 

  h3 {
      width: 80%;
      margin-top: 1em;
      margin-right: 0;
      margin-left: 3em;
      display: flex;
      flex-wrap: wrap;
      text-align: left;
      color: #FFF5E9;
      font-family: Quicksand;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      background-image: url("../assets/images/orange_titreoscar_bg.png");
      background-size: cover; 
      background-position: center; 
    }
    

  .oscar {
      width: 20%; 
      height: 50%;
      background-color: transparent;
      align-items: flex-start;
      margin-left: 0;
      margin-top: 5em;
      padding-left: 0;
      margin-right: 15em;
      align-items: center;
  }
}

/*h3 {
    background-attachment: fixed; 
    transform: translateY(-110%);
    transition: transform 1s ease-in-out; 
}
   
    &:hover {
        transform: translateY(0);
}
*/

//swiper
.swiper {
  width: 100%;

  .slide {
    background: #FFF5E9;
  }
}


  
  