/* En-tête du site */
.site-header {
	position: sticky; /* Rend l'en-tête collant */
	top: 0; /* Positionne l'en-tête en haut de la page */
	z-index: 9999; /* S'assure que l'en-tête reste au-dessus des autres éléments */
  }
  
  /* Navigation principale */
  .main-navigation {
	z-index: 1000; /* Définit l'ordre d'empilement de la navigation */
	width: 100%; /* La navigation prend toute la largeur */
	height: 80px; /* Hauteur fixe de la navigation */
	display: flex; /* Applique flexbox à la barre de navigation */
	justify-content: space-between; /* Positionne le titre et le bouton aux extrémités opposées */
	align-items: center;
  
	.site-title {
	  font-size: 21.5px; 
	  text-align: center; /* Centre le texte du titre */
	}
	
	.menu-toggle {
	  display: block;
	  cursor: pointer; /* Indique que le bouton est cliquable */
	  margin-left: auto; /* Pousse le bouton du menu à l'extrême droite */
  
	  &.menu-opened {
		.line {
		  background-color: transparent; /* Cache la ligne du milieu */
  
		  &:before,
		  &:after {
			position: absolute;
			content: '';
			height: 2px; /* Hauteur des barres de la croix */
			width: 30px; /* Largeur des barres de la croix */
			top: 50%;
			margin-top: -1px; /* Centre les barres verticalement */
			background-color: #000; /* Couleur des barres de la croix */
		  }
  
		  &:before {
			transform: rotate(45deg); /* Incline la barre du haut pour former une croix */
		  }
  
		  &:after {
			transform: rotate(-45deg); /* Incline la barre du bas pour former une croix */
		  }
		}
	  }
	}
  
	/* Lignes du bouton hamburger */
	.line {
	  width: 40px; /* Largeur de la ligne */
	  height: 1px; /* Hauteur de la ligne */
	  background-color: #000; /* Couleur de la ligne */
	  margin: 6px auto; /* Centre les lignes horizontalement et ajoute de l'espacement vertical */
	  display: block;
	}
  
	/* Liste de navigation (ul) */
	ul {
	  list-style: none; /* Pas de puces pour la liste */
	  display: none; /* Caché par défaut, affiché quand actif */
	}
  
	/* Éléments de liste (li) */
	li {
	  font-family: 'Roboto Mono', sans-serif;
	  font-size: 64px;
	  font-weight: 400;
	  line-height: 84px;
	  letter-spacing: 0em;
	  text-align: center;
	  position: relative; /* Position relative pour positionner les sous-éléments absolument si nécessaire */
	}
  
	/* CSS pour afficher la liste lorsque le menu est activé */
	&.toggled {
	  ul {
		display: flex; 
		flex-direction: column;
		width: 100%; /* Prend toute la largeur de l'écran */
		position: absolute; /* Positionne le menu par-dessus les autres contenus */
		top: 80px; /* Position sous la barre de navigation */
		left: 0;
		background-color: #fff; /* Couleur de fond pour le rendre visible */
	  }
	}
  }
  